/* Estilos espec�ficos para a p�gina Jogadores */

.form-group[b-zqbc7gc22s] {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column; /* Empilha os itens verticalmente */
    align-items: center;
}

.form-control[b-zqbc7gc22s] {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-success[b-zqbc7gc22s] {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.btn-deletar[b-zqbc7gc22s] {
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    align-self: center; /* Faz o bot�o alinhar-se com a largura do form-control */
}

.list-group-item[b-zqbc7gc22s] {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.75rem 0.75rem;
    margin: 5px 0; /* Adiciona espa�o entre os itens */
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
