################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GerenciadorDeJogos/FileContentIndex
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/CodeChunks.db
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/CodeChunks.db-shm
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/CodeChunks.db-wal
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/SemanticSymbols.db
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal
/.vs/GerenciadorDeJogos/DesignTimeBuild/.dtbcache.v2
/PlayMatch.Core/obj/Debug/net8.0-android/PlayMatch.Core.AssemblyInfo.cs
/PlayMatch.Core/obj/Debug/net8.0-android/PlayMatch.Core.AssemblyInfoInputs.cache
/PlayMatch.Core/obj/Debug/net8.0-ios/PlayMatch.Core.AssemblyInfoInputs.cache
/PlayMatch.Core/obj/Debug/net8.0-ios/PlayMatch.Core.AssemblyInfo.cs
/PlayMatch.Core/obj/Debug/net8.0-maccatalyst/PlayMatch.Core.AssemblyInfo.cs
/PlayMatch.Core/obj/Debug/net8.0-maccatalyst/PlayMatch.Core.AssemblyInfoInputs.cache
/PlayMatch.Core/obj/Debug/net8.0-windows10.0.19041.0/PlayMatch.Core.AssemblyInfo.cs
/PlayMatch.Core/obj/Debug/net8.0-windows10.0.19041.0/PlayMatch.Core.AssemblyInfoInputs.cache
