################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GerenciadorDeJogos/FileContentIndex
/PlayMatch.Core/obj/Debug/net8.0-android/PlayMatch.Core.AssemblyInfo.cs
/PlayMatch.Core/obj/Debug/net8.0-android/PlayMatch.Core.AssemblyInfoInputs.cache
/PlayMatch.Core/obj/Debug/net8.0-ios/PlayMatch.Core.AssemblyInfo.cs
/PlayMatch.Core/obj/Debug/net8.0-ios/PlayMatch.Core.AssemblyInfoInputs.cache
/PlayMatch.Core/obj/Debug/net8.0-maccatalyst/PlayMatch.Core.AssemblyInfo.cs
/PlayMatch.Core/obj/Debug/net8.0-maccatalyst/PlayMatch.Core.AssemblyInfoInputs.cache
/PlayMatch.Core/obj/Debug/net8.0-windows10.0.19041.0/PlayMatch.Core.AssemblyInfo.cs
/PlayMatch.Core/obj/Debug/net8.0-windows10.0.19041.0/PlayMatch.Core.AssemblyInfoInputs.cache
*.db
*.db-shm
*.db-wal
/PlayMatch.Core/obj/Debug/net8.0-android/designtime/build.props
/PlayMatch.Core/obj/Debug/net8.0-android/PlayMatch.Core.GeneratedMSBuildEditorConfig.editorconfig
/PlayMatch.Core/obj/Debug/net8.0-ios/PlayMatch.Core.assets.cache
/PlayMatch.Core/obj/Debug/net8.0-android/PlayMatch.Core.assets.cache
/PlayMatch.Core/obj/Debug/net8.0-android/PlayMatch.Core.csproj.AssemblyReference.cache
/PlayMatch.Core/obj/Debug/net8.0-ios/PlayMatch.Core.csproj.AssemblyReference.cache
/PlayMatch.Core/obj/Debug/net8.0-ios/PlayMatch.Core.GeneratedMSBuildEditorConfig.editorconfig
/PlayMatch.Core/obj/Debug/net8.0-maccatalyst/PlayMatch.Core.assets.cache
/PlayMatch.Core/obj/Debug/net8.0-maccatalyst/PlayMatch.Core.csproj.AssemblyReference.cache
/PlayMatch.Core/obj/Debug/net8.0-maccatalyst/PlayMatch.Core.GeneratedMSBuildEditorConfig.editorconfig
/PlayMatch.Core/obj/Debug/net8.0-windows10.0.19041.0/PlayMatch.Core.assets.cache
/PlayMatch.Core/obj/Debug/net8.0-windows10.0.19041.0/PlayMatch.Core.csproj.AssemblyReference.cache
/PlayMatch.Core/obj/Debug/net8.0-windows10.0.19041.0/PlayMatch.Core.GeneratedMSBuildEditorConfig.editorconfig
/.vs/GerenciadorDeJogos/DesignTimeBuild/.dtbcache.v2
**/.vs/
**/v17/
/GerenciadorDeJogos/
/.vs/ProjectEvaluation/gerenciadordejogos.metadata.v9.bin
/PlayMatch.Core/obj/Debug/
/PlayMatch.Core/bin/Debug/
/PlayMatch.Core/bin/Debug/net8.0-android/PlayMatch.Core.dll
