################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GerenciadorDeJogos/FileContentIndex
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/CodeChunks.db
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/CodeChunks.db-shm
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/CodeChunks.db-wal
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/SemanticSymbols.db
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm
/.vs/GerenciadorDeJogos/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal
/.vs/GerenciadorDeJogos/DesignTimeBuild/.dtbcache.v2
