@inject NavigationManager Navigation

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <!-- Condicional para exibir o botão de "voltar" nas páginas selecionadas -->
        @if (ShouldShowBackButton)
        {
            <a class="navbar-brand" href="javascript:void(0);" onclick="window.history.back();">
                <span class="fa-solid fa-arrow-left me-2" aria-hidden="true"></span>
            </a>
        }
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="fa-solid fa-house me-2" aria-hidden="true"></span> Home
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/Jogadores">
                <span class="fa-solid fa-people-arrows me-2" aria-hidden="true"></span> Jogadores
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/Configuracoes">
                <span class="fa-solid fa-gear me-2" aria-hidden="true"></span> Configuração
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/visao-geral">
                <span class="fa-solid fa-trophy me-2" aria-hidden="true"></span> Campeonatos
            </a>
        </div>
    </nav>
</div>

@code {
    private bool ShouldShowBackButton { get; set; }

    protected override void OnInitialized()
    {
        // Verifica a URL inicial
        UpdateBackButtonVisibility();

        // Registra um listener para mudanças na URL
        Navigation.LocationChanged += (sender, args) =>
        {
            UpdateBackButtonVisibility();
            StateHasChanged(); // Força a atualização do componente
        };
    }

    private void UpdateBackButtonVisibility()
    {
        // Verifica se a URL atual é uma das páginas onde o botão "voltar" deve aparecer
        ShouldShowBackButton = Navigation.Uri.Contains("/selecao-jogadores") ||
                               Navigation.Uri.Contains("/sorteio") ||
                               Navigation.Uri.Contains("/gerenciar-partida");
    }

    public void Dispose()
    {
        // Limpeza ao destruir o componente para evitar vazamento de memória
        Navigation.LocationChanged -= (sender, args) =>
        {
            UpdateBackButtonVisibility();
            StateHasChanged(); // Força a atualização do componente
        };
    }
}
