/* Estilos específicos para a página Jogadores */

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-success {
    background-color: #28a745;
    justify-content: center;
    align-items: center;
    border-color: #28a745;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.75rem 0.75rem;
    margin: 5px 0; /* Adiciona espaço entre os itens */
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
