/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Títulos */
h3 {
    text-align: center;
    color: #4caf50;
    font-size: 2rem;
    margin-top: 20px;
}

/* Subtítulos */
h4 {
    color: #333;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Descrição */
p {
    text-align: center;
    font-weight: bold;
    color: #666;
    font-size: 1rem;
}

/* Contêiner das listas (Jogadores Disponíveis e Selecionados) */
.scroll-view {
    max-height: 300px;
    overflow-y: auto;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para cada item da lista */
.jogador-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Botões de ação */
button {
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 1.1rem;
}



/* Ajustes responsivos */
@media (max-width: 768px) {
    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.9rem;
    }

    .scroll-view {
        max-height: 250px;
    }

    .jogador-item {
        padding: 6px;
    }

    .btn-primary, .btn-danger {
        font-size: 1rem;
        padding: 4px 10px;
    }

    .btn-success {
        padding: 12px;
    }
}
