/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Títulos */
h3 {
    text-align: center;
    color: #4caf50;
    font-size: 2rem;
    margin-top: 20px;
}

/* Subtítulos */
h4 {
    color: #333;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Contêiner das listas */
.scroll-view {
    max-height: 350px;
    overflow-y: auto;
    margin: 10px 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para cada item da lista */
.jogador-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
}

    .jogador-item:hover {
        background-color: #e8e8e8;
    }

/* Botões minimalistas */
.btn {
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    color: #333;
    transition: transform 0.2s ease;
}

    .btn:hover {
        transform: scale(1.1);
    }

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none;
    font-size: 1.2rem;
    color: #555;
    transition: background 0.2s ease, transform 0.2s ease;
}

    .btn-icon:hover {
        background: #e0e0e0;
        transform: scale(1.1);
    }

/* Botão Voltar - Somente ícone */
.btn-voltar {
    background: none; /* Remove o fundo */
    border: none; /* Remove a borda */
    padding: 0; /* Remove o padding */
    padding-left: 10px; /*Deixa o ícone mais centralizado com o container abaixo dele*/
    font-size: 1.5rem; /* Tamanho do ícone */
    color: #007bff; /* Cor do ícone (pode ser ajustada conforme necessidade) */
    transition: color 0.2s ease; /* Transição suave para mudança de cor */
}

.btn-avancar {
    background: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
}

    .btn-avancar:hover {
        background: #218838;
    }

/* Ajustes responsivos */
@media (max-width: 768px) {
    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    .scroll-view {
        max-height: 250px;
        padding: 10px;
    }

    .jogador-item {
        padding: 8px;
    }

    .btn-icon {
        width: 28px;
        height: 28px;
        font-size: 1rem;
    }
}
